<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div id="wrapper">
    {% include header.html %}
    <div class="container">
        {{ content }}
      <section id="main_content">
        <ul>
            {% for post in paginator.posts %}
              <li>
                  <h2><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h2>
                  <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
                  <p>{{ post.content | strip_html | truncatewords:50 }}</p>
              </li>
            {% endfor %}
        </ul>
      </section>
    </div>
  </div>
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page == 1 %}
      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
    {% elsif paginator.previous_page%}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
    {% else %}
      <span class="page-item">&laquo;</span>
    {% endif %}

    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        {% if trail.num == paginator.page %}
          <span class="page-item">{{ trail.num }}</span>
        {% else %}
          <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" class="page-item">{{ trail.num }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&raquo;</a>
    {% else %}
      <span class="page-item">&raquo;</span>
    {% endif %}
  </div>
  {% endif %} {% include footer.html %}

  {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %}
</body>

</html>